body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3, form, select, table {
    width: 100%;
    max-width: 600px;
    text-align: left;
  }

  form {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f5f5f5; 
    border-radius: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

label, input {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 0;
}

input[type="text"] {
    width: 200px; 
  }

  form label {
    display: inline-block;
    width: 150px; /* Sesuaikan dengan lebar yang Anda inginkan */
  }

  form label, form input {
    margin-bottom: 5px;
  }
